<!DOCTYPE html>
<html>
<head>
    <title>The Jekolizer</title>
    <link href="stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container">
        <h1>The Jekolizer</h1>
        <form method="post">
            <input type="text" placeholder="http://www.washingtonpost.com/" value="<%= @jekolized_page.url if @jekolized_page %>" name="url" id="url" />

            <label for="s1">Search</label>
            <input type="text" placeholder="Obama" name="replacements[0][s]" />

            <label for="s1">Replace</label>
            <input type="text" placeholder="Snoop dog" name="replacements[0][r]" />

            <label for="s1">Search (2)</label>
            <input type="text" placeholder="Obama" name="replacements[1][s]" />

            <label for="s1">Replace (2)</label>
            <input type="text" placeholder="Snoop dog" name="replacements[1][r]" />

            <input type="submit" value="Jekolize" id="submit" />
        </form>
        <div class="clear"></div>
        <% if @jekolized_page %>
        <div class="result">
            Your jekolized URL is:
            <a href="<%= base_url+'/'+@jekolized_page.token %>"><%= base_url+'/'+@jekolized_page.token %></a>
        </div>
        <% end %>
    </div>
</body>  