<!DOCTYPE html>
<html>
  <head>
    <title>The Jekolizer</title>
    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
    <link href="stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="javascripts/application.js"></script>
  </head>

  <body>
    <article>
      <header>
          <h1>The Jekolizer</h1>
      </header>

      <section class="replacement_data">
        <form method="post">
          <ul>
            <li class="url">
              <input type="text" placeholder="http://www.washingtonpost.com/" value="<%= @jekolized_page.url if @jekolized_page %>" name="url" id="url" class="input_text"/>
            </li>

            <li class="replacement_pair" num="0">
              <span class="search">
                <label>Search</label>
                <input type="text" placeholder="Obama" maxlength="10" name="replacements[0][s]" class="input_text" />
              </span>
              <span class="replace">
                <label>Replace</label>
                <input type="text" placeholder="Snoop dog" maxlength="10" name="replacements[0][r]" class="input_text" />
                <span class="button add">+</span>
              </span>
            </li>

            <li class="submit">
              <input type="submit" value="Jekolize" id="submit" class="submit"/>
            </li>
          </ul>
        </form>
      </section>

      <% if @jekolized_page %>
        <section class="generated_url">
          Your jekolized URL is:
          <a href="<%= base_url+'/'+@jekolized_page.token %>"><%= base_url+'/'+@jekolized_page.token %></a>
        </section>
      <% end %>
    </article>
  </body>
</html>