<!DOCTYPE html>
<html>
  <head>
    <title>The Jekolizer</title>
    <script type="text/javascript" src="javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/smartBackgroundResize-1.0-jquery-plugin.js"></script>
    <link href="stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="javascripts/application.js"></script>
  </head>

  <body>
    <div id="background"></div>
    <article>
      <header>
          <h1>The Jekolizer</h1>
      </header>

      <section class="replacement_data">
        <form method="post" action="/generate">
          <ul>
            <li class="url">
              <input type="text" placeholder="http://www.washingtonpost.com/" name="url" id="url" maxlength="300" class="input_text"/>
            </li>

            <li class="replacement_pair" num="0">
              <span class="search">
                <label>Find</label><br />
                <input type="text" placeholder="Obama" maxlength="200" name="replacements[0][s]" class="input_text" />
              </span>
              <span class="replace">
                <label>Replace with</label><br />
                <input type="text" placeholder="Snoop dog" maxlength="200" name="replacements[0][r]" class="input_text" />
                <span class="button add">+</span>
              </span>
            </li>

            <li class="submit">
              <input type="submit" value="Jekolize" id="submit" class="submit"/>
            </li>
          </ul>
        </form>
      </section>

      <section class="generated_url hidden">
        <label>Your jekolized url is</label>
        <% if @page %>
          <a href="<%= base_url+'/'+@page.token %>"><%= base_url+'/'+@page.token %></a>
        <% end %>
      </section>
    </article>
    
    <script type="text/javascript"> 
      $(document).ready(function(){
        $('#background').smartBackgroundResize({
          image: 'images/banda-onesti.jpg' // relative or absolute path to background image file       
        });
      });
    </script>
  </body>
</html>