@import "_reset.css"
@import "_blankwork.scss"
@import "http://fonts.googleapis.com/css?family=Oleo+Script"

$_columns: 6
$orange: #ff7866
$border_focus: #000000
$black: #000000
$white: #ffffff
$lighter_orange: #FF9A8C

@mixin round_corners($size)
  -webkit-border-radius: $size
  -moz-border-radius: $size
  border-radius: $size


@mixin text_box
  border: 2px solid black
  @include round_corners(0.5em)
  padding: 0.5em 0.4em
  font-size: 1.05em
  &:focus
    border-color: $border_focus
    filter: alpha(opacity=1)
    KHTMLOpacity: 1
    MozOpacity: 1
    opacity: 1
  filter: alpha(opacity=70)
  KHTMLOpacity: 0.70
  MozOpacity: 0.70
  opacity: 0.70


#background
  position:absolute
  left: 0
  top: 0

article
  @include wrapper
  font-size: 1em
  font-family: Helvetica, sans-serif
  margin: 12% auto

  .input_text
    @include text_box

  header
    @include column(6)
    font-family: "Oleo Script", cursive
    font-size: 5em
    text-align: center
    color: $black


  section.replacement_data
    margin-top: 2.6em

    li.url input
      @include column(6)
      margin-bottom: 0.3em
      width: 87.7%

    li.replacement_pair
      label
        font-size: 2em
        color: black
        font-family: "Oleo Script"

      input
        margin-bottom: 0.3em

      .search
        @include column(3)
        input
          width: 100%

      .replace
        @include column(3)
        white-space: nowrap
        input
          width: 82%

      .button
        font-family: "Arial Black"
        font-size: 2em
        padding-left: 0.1em
        color: $black
        font-weight: bold
        cursor: pointer
        &:hover
          filter: alpha(opacity=1)
          KHTMLOpacity: 1
          MozOpacity: 1
          opacity: 1
        &:active
          color: $white

    li.submit
      @include column(6)
      text-align: center
      padding-top: 0.4em
      input
        @include text_box
        font-family: "Oleo Script"
        font-size: 1.4em
        background: white
        margin-top: 0em
        padding-left: 2em
        padding-right: 2em
        cursor: pointer
        margin-left: 0 //fix
        &:hover
          filter: alpha(opacity=1)
          KHTMLOpacity: 1
          MozOpacity: 1
          opacity: 1
        &:active
          color: #FFFFFF
        &:disabled
          color: gray
          border: 2px solid gray
          background-color: #F2F2F2

      .loading
        background: transparent url('../images/ajax-loader.gif') no-repeat 50% 100%
        width: 25px
        height: 20px
        display: inline-block


  section.generated_url
    @include column(6)
    background: $white
    width: 88.1%
    margin-top: 0.5em
    @include text_box
    padding: 0.7em 0.4em 0.6em 0.4em
    filter: alpha(opacity=1)
    KHTMLOpacity: 1
    MozOpacity: 1
    opacity: 1

    a
      color: black

    &.hidden
      display: none

