@import "_reset.css"
@import "_blankwork.scss"
@import "http://fonts.googleapis.com/css?family=Ribeye+Marrow"

$_columns: 6
$orange: #ff7866
$lighter_orange: #FF9A8C

@mixin round_corners($size)
  -webkit-border-radius: $size
  -moz-border-radius: $size
  border-radius: $size


@mixin text_box
  border: 2px solid black
  @include round_corners(0.5em)
  padding: 0.5em 0.4em
  font-size: 1.05em
  &:focus
    border-color: $orange

body
  background-image: url(/images/banda-onesti.jpg)
  background-size: 100%


article
  @include wrapper
  font-size: 1em
  font-family: Helvetica, sans-serif
  margin-top: 12%

  .input_text
    @include text_box

  header
    @include column(6)
    font-family: "Ribeye Marrow", cursive
    font-size: 2.3em
    color: $orange


  section.replacement_data
    margin-top: 2.6em

    li.url input
      @include column(6)
      margin-bottom: 0.3em
      width: 87.7%

    li.replacement_pair
      label
        font-size: 0.75em
        color: gray

      input
        margin-bottom: 0.3em

      .search
        @include column(3)
        input
          width: 100%

      .replace
        @include column(3)
        input
          width: 82%

      .button
        font-family: "Ribeye Marrow", cursive
        font-size: 1.4em
        padding-left: 0.1em
        color: $orange
        font-weight: bold
        cursor: pointer
        &:hover
          color: $lighter_orange
        &:active
          color: $lighter_orange

    li.submit
      @include column(6)
      input
        @include text_box
        background: $orange
        margin-top: 0.4em
        padding-left: 2em
        padding-right: 2em
        cursor: pointer
        margin-left: 0 //fix
        &:hover
          background: $lighter_orange
        &:active
          color: #FFFFFF
        &:disabled
          color: gray
          border: 2px solid gray
          background-color: #F2F2F2

      .loading
        background: transparent url('../images/ajax-loader.gif') no-repeat 50% 100%
        width: 25px
        height: 20px
        display: inline-block


  section.generated_url
    @include column(6)
    background: $lighter_orange
    width: 88.1%
    margin-top: 0.5em
    @include text_box
    padding: 0.7em 0.4em 0.6em 0.4em

    a
      color: black

    &.hidden
      display: none

